<!DOCTYPE html>
<html>
<head>
    <title>PigPen</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"></link>

	<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
</head>
<body>
    <div class="container my-3">
		    <div class="container my-3">
			    <h1>Pigpen</h1>
    		    <ul class="nav nav-tabs" id="myTab" role="tablist">
    		        <li class="nav-item" role="presentation">
    		            <a class="nav-link active" id="main-tab" data-bs-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Main</a>
    		        </li>
    		        <li class="nav-item" role="presentation">
    		            <a class="nav-link" id="pin-configs-tab" data-bs-toggle="tab" href="#pin-configs" role="tab" aria-controls="pin-configs" aria-selected="false">Pin Configs</a>
    		        </li>
    		        <li class="nav-item" role="presentation">
    		            <a class="nav-link" id="app-settings-tab" data-bs-toggle="tab" href="#app-settings" role="tab" aria-controls="app-settings" aria-selected="false">App Settings</a>
    		        </li>
    		    </ul>
    		    <div class="tab-content" id="myTabContent">
    		        <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
    		            <!-- Existing content goes here -->
						<div class="container my-3">
						<div class="row">
        				    <div class="col-md-6">
								<h2>Inputs</h2>
        				        <table id="gpioInputTable" class="table table-bordered">
        				            <thead>
        				                <tr>
        				                    <th>GPIO</th>
        				                    <th>Function</th>
        				                    <th>Value</th>
        				                </tr>
        				            </thead>
        				            <tbody>
        				                <tr>
        				                    <td>GPIO13</td>
        				                    <td>SPI_INT_L</td>
        				                    <td>↑</td>
</td>
        				                </tr>
        				                <tr>
        				                    <td>GPIO14</td>
        				                    <td>SPI_CLK</td>
        				                    <td>↓</td>
        				                </tr>
        				                <!-- Add more rows as needed -->
        				            </tbody>
        				        </table>
        				    </div>
        				    <div class="col-md-6">
								<h2>Outputs</h2>
        				        <table id="gpioOutputTable" class="table table-bordered">
        				            <thead>
        				                <tr>
        				                    <th>GPIO</th>
        				                    <th>Function</th>
        				                    <th>Value</th>
        				                </tr>
        				            </thead>
        				            <tbody>
        				                <tr>
        				                    <td>GPIO15</td>
        				                    <td>SPI_MOSI</td>
											<td>
											  <a class="btn btn-primary btn-sm">Hi</a>
											  <a class="btn btn-outline-primary btn-sm">Lo</a>
											  <a class="btn btn-primary btn-sm">Toggle</a>
											</td>
        				                </tr>
        				                <tr>
        				                    <td>GPIO16</td>
        				                    <td>SPI_MISO</td>
											<td>
											  <a class="btn btn-outline-primary btn-sm">Hi</a>
											  <a class="btn btn-primary btn-sm">Lo</a>
											  <a class="btn btn-primary btn-sm">Toggle</a>
											</td>
        				                </tr>
        				                <!-- Add more rows as needed -->
        				            </tbody>
        				        </table>
        				    </div>
        				</div>
        				<div class="row">
							<h2>History</h2>
        				    <div class="col-12">
        				        <table class="table table-bordered">
        				            <thead>
        				                <tr>
        				                    <th>Type</th>
        				                    <th>Port</th>
        				                    <th>Action</th>
        				                    <th>Timestamp</th>
        				                    <th>Repeat</th>
        				                </tr>
        				            </thead>
        				            <tbody>
        				                <tr>
        				                    <td>In</td>
        				                    <td>GPIO13</td>
        				                    <td>Lo → Hi</td>
        				                    <td>2024-03-10 12:34:56</td>
        				                    <td>↻</td>
        				                </tr>
        				                <tr>
        				                    <td>Bus</td>
        				                    <td>SPI0</td>
        				                    <td>Read</td>
        				                    <td>2024-03-10 12:35:10</td>
        				                    <td>↻</td>
        				                </tr>
        				                <!-- Add more rows as needed -->
        				            </tbody>
        				        </table>
        				    </div>
        				</div>
    		        </div>
    		        </div>
    		        <div class="tab-pane fade" id="pin-configs" role="tabpanel" aria-labelledby="pin-configs-tab">
						<div class="container my-3">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Label</th>
									<th>Usage</th>
									<th>Value</th>
									<th>Pin</th>
									<th>Pin</th>
									<th>Value</th>
									<th>Usage</th>
									<th>Label</th>
								</tr>
							</thead>
							<tr>
								<td></td>
								<td>-</td>
								<td>3V3</td>
								<td>1</td>
								<td>2</td>
								<td>5V</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO2"></td>
								<td>
									<select class="form-select" data-gpio="GPIO2">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO2</td>
								<td>3</td>
								<td>4</td>
								<td>5V</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO3"></td>
								<td>
									<select class="form-select" data-gpio="GPIO3">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO3</td>
								<td>5</td>
								<td>6</td>
								<td>GND</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO4"></td>
								<td>
									<select class="form-select" data-gpio="GPIO4">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO4</td>
								<td>7</td>
								<td>8</td>
								<td>GPIO14</td>
								<td>
									<select class="form-select" data-gpio="GPIO14">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO14"></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>GND</td>
								<td>9</td>
								<td>10</td>
								<td>GPIO15</td>
								<td>
									<select class="form-select" data-gpio="GPIO15">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO15"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO17"></td>
								<td>
									<select class="form-select" data-gpio="GPIO17">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO17</td>
								<td>11</td>
								<td>12</td>
								<td>GPIO18</td>
								<td>
									<select class="form-select" data-gpio="GPIO18">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO18"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO27"></td>
								<td>
									<select class="form-select" data-gpio="GPIO27">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO27</td>
								<td>13</td>
								<td>14</td>
								<td>GND</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO22"></td>
								<td>
									<select class="form-select" data-gpio="GPIO22">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO22</td>
								<td>15</td>
								<td>16</td>
								<td>GPIO23</td>
								<td>
									<select class="form-select" data-gpio="GPIO23">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO23"></td>
							</tr>
							<tr>
								<td></td>
								<td>-</td>
								<td>3V3</td>
								<td>17</td>
								<td>18</td>
								<td>GPIO24</td>
								<td>
									<select class="form-select">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO24"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO10"></td>
								<td>
									<select class="form-select" data-gpio="GPIO10">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO10</td>
								<td>19</td>
								<td>20</td>
								<td>GND</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO9"></td>
								<td>
									<select class="form-select" data-gpio="GPIO9">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO9</td>
								<td>21</td>
								<td>22</td>
								<td>GPIO25</td>
								<td>
									<select class="form-select" data-gpio="GPIO25">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO25"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO11"></td>
								<td>
									<select class="form-select" data-gpio="GPIO11">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO11</td>
								<td>23</td>
								<td>24</td>
								<td>GPIO8</td>
								<td>
									<select class="form-select" data-gpio="GPIO8">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO8"></td>
							</tr>
							<tr>
								<td></td>
								<td>-</td>
								<td>GND</td>
								<td>25</td>
								<td>26</td>
								<td>GPIO7</td>
								<td>
									<select class="form-select" data-gpio="GPIO7">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO7"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO0"></td>
								<td>
									<select class="form-select" data-gpio="GPIO0">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO0</td>
								<td>27</td>
								<td>28</td>
								<td>GPIO1</td>
								<td>
									<select class="form-select" data-gpio="GPIO1">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO1"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO5"></td>
								<td>
									<select class="form-select" data-gpio="GPIO5">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO5</td>
								<td>29</td>
								<td>30</td>
								<td>GND</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO6"></td>
								<td>
									<select class="form-select" data-gpio="GPIO6">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO6</td>
								<td>31</td>
								<td>32</td>
								<td>GPIO12</td>
								<td>
									<select class="form-select" data-gpio="GPIO12">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO12"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO13"></td>
								<td>
									<select class="form-select" data-gpio="GPIO13">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO13</td>
								<td>33</td>
								<td>34</td>
								<td>GND</td>
								<td>-</td>
								<td></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO19"></td>
								<td>
									<select class="form-select" data-gpio="GPIO19">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO19</td>
								<td>35</td>
								<td>36</td>
								<td>GPIO16</td>
								<td>
									<select class="form-select" data-gpio="GPIO16">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO16"></td>
							</tr>
							<tr>
								<td class="pinLabel" data-gpio="GPIO26"></td>
								<td>
									<select class="form-select" data-gpio="GPIO26">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td>GPIO26</td>
								<td>37</td>
								<td>38</td>
								<td>GPIO20</td>
								<td>
									<select class="form-select" data-gpio="GPIO20">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO20"></td>
							</tr>
							<tr>
								<td></td>
								<td>-</td>
								<td>GND</td>
								<td>39</td>
								<td>40</td>
								<td>GPIO21</td> 
								<td>
									<select class="form-select" data-gpio="GPIO21">
									  <option value="-">-</option>
									  <option value="Input">Input</option>
									  <option value="Output">Output</option>
									</select>
								</td>
								<td class="pinLabel" data-gpio="GPIO21"></td>
							</tr>
						</table>
    		            </div>
    		        </div>
    		        <div class="tab-pane fade" id="app-settings" role="tabpanel" aria-labelledby="app-settings-tab">
    		            <!-- Content for App Settings tab goes here -->
    		        </div>
    		    </div>
    		</div>
    </div>
	<script src="{{ url_for('static', filename='js/client.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script>
	document.addEventListener('DOMContentLoaded', (event) => {
	  let gpioInputList = {};
	  let gpioOutputList = {};
	  let gpioLabelList = {};

	  const updateInputTable = () => {
        const tableBody = document.querySelector('#gpioInputTable tbody');
        tableBody.innerHTML = ''; // Clear existing table contents

        Object.keys(gpioInputList).forEach((gpio) => {
          const row = tableBody.insertRow();
          const cellGpio = row.insertCell(0);
          const cellFunction = row.insertCell(1);
          const cellValue = row.insertCell(2);

          cellGpio.textContent = gpio;

		  if (gpio in gpioLabelList) { 
			cellFunction.textContent = gpioLabelList[gpio];
		  } else {
			cellFunction.textContent = gpio; 
		  }
          cellValue.textContent = gpioInputList[gpio];
        });
      };

	  document.querySelectorAll('.form-select').forEach(select => {
		select.addEventListener('change', function() {
		  const gpio = this.getAttribute('data-gpio');
		  const value = this.value;
		  
		  if (value !== '-') {
			gpioInputList[gpio] = value;
		  } else {
			delete gpioInputList[gpio];
		  }
		  
		  updateInputTable(); // Update the table
		});
	  });

	  document.querySelectorAll('.pinLabel').forEach(cell => {
		cell.addEventListener('click', function() {
		  if (!this.hasAttribute('contentEditable')) {
			this.setAttribute('contentEditable', true);
			this.focus();
		  }
		});

		cell.addEventListener('blur', function() {
		  this.removeAttribute('contentEditable');
		  // Here you can also handle the new value
		  // For example, send it to the server or process it
		  const gpio = this.getAttribute('data-gpio');
		  gpioLabelList[gpio] = this.textContent;
		  console.log('New value:', this.textContent);
		});
	  });
	
	document.querySelectorAll('.select-container').forEach(container => {
		const select = container.querySelector('.form-select');
    	const label = container.querySelector('.select-label');

    	label.addEventListener('click', function() {
    	  select.style.display = 'block';
    	  select.focus();
    	});

    	select.addEventListener('change', function() {
    	  label.textContent = select.options[select.selectedIndex].text;
    	  select.style.display = 'none';
    	});

    	select.addEventListener('blur', function() {
    	  select.style.display = 'none';
    	});
	  });

	document.querySelectorAll('.form-select').forEach(select => {
	    select.addEventListener('change', function() {
		  const gpio = this.getAttribute('data-gpio');
		  const value = this.value;
		  console.log(`GPIO: ${gpio}, Value: ${value}`);
		  // Here you can handle the association with the GPIO pinA
		  // Update the list if the value is not '-'
		  if (value !== '-') {
			if (value === 'Input') {
			  gpioInputList[gpio] = value;
			} else if (value === 'Output') {
			  gpioOutputList[gpio] = value;
			}
		  } else {
			// Remove the GPIO from the list if the value is '-'
			delete gpioInputList[gpio];
			delete gpioOutputList[gpio];
		  }

		  console.log(gpioInputList); // for debugging purposes
		  console.log(gpioOutputList); // for debugging purposes
	    });
	  });

	});
	</script>
</body>
</html>

